extends ../../components/templates/pages
include ../../components/room-book/room-book
include ../../components/feedback/feedback
include ../../components/bullet-list/bullet-list
include ../../components/donut-chart/donut-chart
include ../../components/feature/feature

block main
    main.room-details
        figure.room-details__featured-images
            -
                const featuredImages = [
                    {src: require('./img/room1.jpg'), alt: 'Двухместная кровать'},
                    {src: require('./img/room2.jpg'), alt: 'Одноместная кровать'},
                    {src: require('./img/room3.jpg'), alt: 'Гостинная'},
                ];
            each image in featuredImages
                img.room-details__featured-image(src=image.src, alt=image.alt)
        .room-details__inner-wrapper
            .room-details__content
                section.room-details__info
                    header.room-details__section-header
                        p.room-details__title= 'Сведения о номере'
                    -
                        const features = [
                            {
                                icon: 'mood',
                                title: 'Комфорт',
                                hint: 'Шумопоглощающие стены'
                            },
                            {
                                icon: 'location_city',
                                title: 'Удобство',
                                hint: 'Окно в каждой из спален'
                            },
                            {
                                icon: 'whatshot',
                                title: 'Уют',
                                hint: 'Номер оснащён камином'
                            }
                        ]
                    ul.room-details__features-list
                        each feature in features
                            li.room-details__feature-item
                                +feature(feature)
                section.room-details__rating
                    header.room-details__section-header
                        p.room-details__title= 'Впечатления от номера'
                    .room-details__donut-chart
                        +donut-chart('donut-chart')
                section.room-details__feedback
                    header.room-details__section-header
                        p.room-details__title= 'Отзывы посетителей'
                        p.room-details__feedback-counter= '2 отзыва'
                    -
                        const feedbacks = [
                            {
                                author: {
                                    name: 'Мурад Сарафанов',
                                    image: {
                                        src: require('./img/murad.jpg'),
                                        alt: 'Мурад Сарафанов',
                                    }
                                },
                                date: '5 дней назад',
                                text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                                favoritesCount: 12,
                                isFavorite: true,
                            },
                            {
                                author: {
                                    name: 'Патрисия Стёклышкова',
                                    image: {
                                        src: require('./img/patricia.jpg'),
                                        alt: 'Патрисия Стёклышкова',
                                    }
                                },
                                date: 'Неделю назад',
                                text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
                                favoritesCount: 2,
                            },
                        ]
                    ul.room-details__feedbacks-list
                        each feedback in feedbacks
                            li.room-details__feedback-item
                                +feedback(feedback)
                section.room-details__rules
                    header.room-details__section-header
                        p.room-details__title= 'Правила'
                    .room-details__bullet-list
                        +bullet-list({
                            items: [
                                {text: 'Нельзя с питомцами'},
                                {text: 'Без вечеринок и мероприятий'},
                                {text: 'Время прибытия &mdash; после 13:00, а выезд до 12:00'},
                            ]
                        })
                section.room-details__cancellation
                    header.room-details__section-header
                        p.room-details__title= 'Отмена'
                    p.room-details__text
                        = 'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.'
            .room-details__sidebar
                +room-book